@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}

.main-bg {
    width: 100%;
    height: 100vh;
    background: url(../images/main-bg.webp);
    background-size: cover;
    position: fixed;
}

.header-title {
    position: absolute;
    color: #fff;
    right: 150px;
    top: 230px;
}

.header-title h1 {
    font-size: 8rem;
    color: #a3eee9;
}

.header-title h4 {
    letter-spacing: .5px;
    line-height: 30px;
    font-size: 1.5rem;
}

.header-title button {
    color: #111;
    padding: 10px 50px;
    border-radius: 35px;
    margin-top: 20px;
    margin-left: 10px;
    background: #a3eee9;
    transition: all 0.4s;
    border: 3px solid #a3eee9;
    font-size: 2rem;
}

.header-title button:hover {
    background: transparent;
    border: 3px solid #fff;
    color: #fff;
}

.nav-main {
    width: 70px;
    height: 70px;
    position: fixed;
    background: #a3eee9;
    right: 40px;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: all 0.5s;
}

.nav-main-items {
    min-width: 100px;
    height: 70px;
    position: fixed;
    right: 150px;
    top: 50px;
    background: #fff;
    border-radius: 15px;
    transition: all 0.5s;
    padding: 25px;
    text-align: center;
    overflow: hidden;
    display: none;
    opacity: 0;
}

.nav-main-items .nav-main-item {
    margin-right: 10px;
    text-decoration: none;
}

.nav-main-items .nav-main-item:nth-child(1){
    color: #000;
}

.nav-main-items .nav-main-item:nth-child(5){
    margin-right: 0;
}

.header-logo {
    position: relative;
    top: 20px;
    left: 20px;
    height: 95px;
    overflow: hidden;
    width: 150px;
}

.header-name {
    position: relative;
    color: #fff;
    font-family: arial;
    font-weight: bold;
    top: -50px;
    left: 130px;
    width: 100px;
}